#cromulon {
  position: fixed;
  z-index: 0;
}

#anchor {
  width: 250px;
}

#eyes,
#eyes img {
  position: absolute;
  width: 30px;
}

#eye1 {
  top: -254px;
  left: 95px;
}

#eye2 {
  top: -254px;
  left: 185px;
}
